.content {
	display: flex;
	flex-wrap: wrap;
	gap: 70px;
	.card {
    
		width: 200px;
		height: 200px;
		background-color: rgba(255, 255, 255, 0.373);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
    gap: 30px;
    h1 {
      width: 160px;
      height: 40px;
      color: white;
      background-color: rgba(0, 0, 0, 0.301);
      border-radius: 20px;
      text-align: center;
    }
    button {
      width: 100px;
      height: 30px;
      border: none;
      border-radius: 20px;
    }
	}
}
